<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/updateData" method="post">
        <input type="text" name="id" hidden  value="<%=data.id%>">
        <input type="text" name="name" placeholder="Enter name" value="<%=data.name%>">
        <input type="text" name="subject" placeholder="Enter subject" value="<%=data.subject%>">
        <input type="text" name="city" placeholder="Enter city" value="<%=data.city%>">
        <!-- <input type="text" name="image" value="<%=data.image%>"> -->
         <button>Update</button>
    </form>
</body>
</html>