<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Data</h1>
    <form action="/addData" method="post">
        <input type="text" placeholder="Enter name" name="name">
        <input type="text" placeholder="Enter subject" name="subject">
        <input type="text" placeholder="Enter city" name="city">
        <!-- <input type="text" name="image"> -->
        <button type="submit">Submit</button>
    </form>

    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Subject</th>
                <th>City</th>
                <th>Image</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>
        <tbody>
            <%student.map((el,i)=>{%>
                <tr>
                    <td><%=el.id%></td>
                    <td><%=el.name%></td>
                    <td><%=el.subject%></td>
                    <td><%=el.city%></td>
                    <td><%=el.image%></td>
                    <td><a href="/editData?id=<%el.id%>"><button>Edit</button></a></td>
                    <td><a href="/deleteData?id=<%=el.id%>"><button>Delete</button></a></td>
                </tr>
            <%})%>
        </tbody>
    </table>
</body>
</html>