<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div><li><a href="/">Home</a></li></div>
        <nav>
            <ul>
                <li><a href="/addbook">Add Book</a></li>
            </ul>
        </nav>
    </header>
    <h1>Book store</h1>
    <div style="border:1px solid black;">
        <%book.map((el,i)=>{%>
            <div class="card">
                <div class="img">
                    <img src="<%=el.image%>" alt="">
                </div>
                <div class="info">
                    <h3><%=el.name%></h3>
                    <h6>Author : <%=el.author%></h6>
                    <p>Type : <%=el.type%></p>
                    <p>Price : <%=el.price%></p>
                    <a href="/editData?id=<%=el.id%>"><button>edit</button></a>
                    <a href="/deleteData?id=<%=el.id%>"><button>Delete</button></a>
                </div>
            </div>
        <%})%>
    </div>
</body>
</html>